.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
    transition: 0.3s opacity;
}

.searchResult > img {
    border-radius: 10px;
    width: 350px;
    height: 200px;
    overflow: hidden;
}

.searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h3 {
    font-weight: 600;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}

.searchResult__star {
    color: red;
}

.searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResult__price > p {
    text-align: right;
}

.searchResult__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

@media (max-width: 810px){

    .searchResult {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .searchResult__infoTop {
        margin-bottom: 50px;
        width: 100%;
    }

    .searchResult > img {
        width: 150px;
        height: 100px;
        align-self: flex-start;
    }
}


